<h1>Create a New Booking</h1>

<p> Enter the passenger information to complete your booking.</p>

<div>
    <p>From:</p> <%= @flight.from_aiport.name%><br>
    <p>To:</p>   <%= @flight.to_airport.name%><br>
    <p>Time:</p> <%= @flight.depart_at.strftime("%m.%d.%Y - %H:%m") %><br>
</div>

<div class="container">
    <%= render 'booking_form' %>
</div>